@import url(https://fonts.bunny.net/css?family=advent-pro:300,400,600|instrument-sans:400,500,600);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(171, 20%, 13%);
    color: hsl(171, 90%, 80%);
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 32px;
}
main{
    width: 768px;
    margin: auto;
}
h1{
    font-weight: 300;
}
#contenedor{
    background-color: hsl(171, 20%, 8%);
    padding: 8px 24px;
    border-radius: 12px;
    font-size: 40px;
    margin: 8px 0px;
}
nav{
    margin: 32px 0px;
}
nav a{
    background-color: hsl(171, 50%, 50%);
    padding: 6px 24px;
    border-radius: 8px;
    color: hsl(171, 50%, 4%);
    text-decoration: none;
}
nav a:hover{
    background-color: hsl(171, 50%, 60%);
    box-shadow: 0px 0px 8px hsl(171, 50%, 60%);;
}
#caja{
    width: 400px;
    height: 400px;
    margin: 40px 0px;
    background-color: hsl(171, 10%, 50%);
    padding: 40px;
    border-radius: 8px;
    color: hsl(171, 50%, 4%);
    transition: 500ms;
}

#calculador{
    width: 480px;
    margin: 40px;
    padding: 24px 40px;
    background-color: hsl(171, 20%, 8%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    #calculador input,
    #calculador select
    {
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 24px;
        text-align: right;
    }
    #calculador button{
        background-color: hsl(171, 80%, 30%);
        padding: 8px 16px;
        border-radius: 8px;
        color: hsl(171, 50%, 90%);
        font-size: 24px;
    }
    #calculador button:hover{
        background-color: hsl(171, 80%, 40%);
        box-shadow: 0px 0px 8px hsl(171, 50%, 60%);;
        border-radius: 8px;
        color: hsl(171, 50%, 90%);
    }
    #calculador #muestreo{
        background-color: #000;
        padding: 16px;
        text-align: center;
        font-size: 24px;
    }

    #muestras p{
        margin: 8px 0px;
        background-color: hsl(171, 20%, 8%);
        padding: 8px 24px;
        border-radius: 12px;
        font-size: 40px;
    }